<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <div class="detail">
        <h1>
            <%= properties.Adres %>
        </h1>
        <div>
            <section>
                <img src="<%= properties.HoofdFoto %>" alt="<%= properties.Adres %>">
            </section>
            <section>
                <ul>
                    <li>
                        <%= properties.Postcode %> <%= properties.Woonplaats %>
                    </li>
                    <li>
                        <%= properties.Aantalkamers %> kamers
                    </li>
                    <li>
                        &euro;<%= properties.Koopprijs %>
                    </li>
                </ul>
                <a href="<%= properties.URL %>" target="_blank">Meer informatie</a>
            </section>
        </div>
    </div>

</body>
</html>
