<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <main>
        <% properties.Objects.forEach(function(property){ %>
            <section class="overview">
                <h1>
                    <a href="result/<%= property.Id %>"><%= property.Adres %></a>
                </h1>
                <div class="overviewImage">
                    <img src="<%= property.FotoLarge %>" alt="<%= property.Adres %>">
                </div>
                <h2>
                    &euro;<%= property.Koopprijs %>
                </h2>
                <h3>
                    <%= property.Woonplaats %>
                </h3>
            </section>
        <% }); %>
    </main>
</body>
</html>
